{% extends "base.html" %}
{% block content %}
  <h2>{{ exercise.name }}</h2>
  <p>{{ exercise.description }}</p>
  <form method="POST">
    <div class="form-group">
      <label for="user_input">Input:</label>
      <input type="text" id="user_input" name="user_input" class="form-control">
    </div>
    <button type="submit">Submit</button>
  </form>

  <form method="POST">
    <div class="form-group mt-4">
      <label for="flag_input">Flag:</label>
      <input type="text" id="flag_input" name="flag_input" class="form-control">
    </div>
    <button type="submit">Submit Flag</button>
  </form>

  {% if result %}
    <div class="mt-4">
      <h3>Results:</h3>
      <pre class="code-snippet">{{ result }}</pre>
      {% if query %}
      <h3>Executed Query:</h3>
      <pre class="code-snippet">{{ query }}</pre>
      {% endif %}
    </div>
  {% endif %}


{% endblock %}
