{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Welcome to SQL InjectEducation</h2>
  <p class="text-center">Choose an exercise below:</p>

  <div class="mb-4">
    <h3>SQLite Exercises</h3>
    <ul class="list-group">
      <li>
        <a href="{{ url_for('sqlite1') }}">Simple Injection</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite2') }}">Simple Injection 2</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite3') }}">Simple Injection 3</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite4') }}">Simple Injection 4</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite5') }}">Simple Injection 5</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite6') }}">Simple Injection 6</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite7') }}">Simple Injection 7</a>
      </li>
      <!-- Add more SQLite exercises here -->
    </ul>
  </div>

  <div class="mb-4">
    <h3>PostgreSQL Exercises</h3>
    <ul class="list-group">
      <li>
        <a href="{{ url_for('postgresql1') }}">PostgreSQL Injection</a>
      </li>
      <!-- Add more PostgreSQL exercises here -->
    </ul>
  </div>
{% endblock %}
