{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Welcome to SQL InjectEducation</h2>
  <p class="text-center">Choose an exercise below:</p>

  <div class="mb-4">
    <h3>SQLite Exercises</h3>
    <ul class="list-group">
      <li>
        <a href="{{ url_for('sqlite1') }}">Simple Injection</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite2') }}">Simple Login Bypass Injection</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite3') }}">Injection on LIKE Operator</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite4') }}">Basic Union-based SQL Injection</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite5') }}">Union-based SQL Injection - Retrieving the sqlite version</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite6') }}">Union-based SQL Injection - Retrieving data from other tables</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite7') }}">Blind SQL Injection (Boolean-Based)</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite8') }}">SQL Injection in ORDER BY clause</a>
      </li>
      <li>
        <a href="{{ url_for('sqlite9') }}">Error-Based SQL Injection</a>
      </li>
      <!-- Add more SQLite exercises here -->
    </ul>
  </div>

  <div class="mb-4">
    <h3>PostgreSQL Exercises</h3>
    <ul class="list-group">
      <li>
        <a href="{{ url_for('postgresql1') }}">PostgreSQL Injection</a>
      </li>
      <!-- Add more PostgreSQL exercises here -->
    </ul>
  </div>
{% endblock %}
