{% extends "base.html" %}
{% block content %}
  <h2>{{ exercise.name }}</h2>
  <p>{{ exercise.description }}</p>
  <p style="color:green;">{{ exercise.hint }}</p>
  <form method="GET">
    <div class="form-group">
      <p>Order products by:</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="order" id="inlineRadio1" value="product_name">
        <label class="form-check-label" for="inlineRadio1">Product Name</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="order" id="inlineRadio2" value="stock">
        <label class="form-check-label" for="inlineRadio2">Stock</label>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "flag_input.html" %}  

{% include "results.html" %}

{% endblock %}

