body {
    background-color: #FFFFFF;  /* Background white */
    color: #000000;             /* Black text */
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #14213D;  /* Dark blue for header */
    color: #FCA311;             /* Bright orange for header text */
    padding: 1rem;
    margin-bottom: 2rem;
}

.navbar-brand {
    color: #FCA311 !important;  /* Bright orange for branding */
}

h1, h2 {
    color: #000000;             /* Black for headings */
}

p, label {
    color: #14213D;             /* Dark blue for text */
}

a {
    color: #FCA311;             /* Bright orange for links */
    text-decoration: none;
}

a:hover {
    color: #14213D;             /* Dark blue on hover */
}


select, input[type="text"], input[type="password"] {
    background-color: #E5E5E5;  /* Light gray for inputs */
    border: 1px solid #FCA311;  /* Bright orange border */
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

button {
    background-color: #14213D;  /* Dark blue for buttons */
    border: none;
    color: #FCA311;             /* Bright orange on buttons text*/
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e3a54;  /* White on hover */
    color: #FCA311;             /* Black text on hover */
}


.code-snippet {
    background-color: #33475b;  /* Dark blue for code blocks */
    border: 1px solid #E5E5E5;  /* Light gray border */
    color: #F5C26B;             /* Bright orange text */
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Consolas', sans-serif;
    white-space: normal;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #14213D;  /* Dark blue for footer */
    color: #E5E5E5;             /* Light gray text */
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
th, td {
    border: 1px solid #000;
    text-align: left;
    padding: 12px;
}
th {
    background-color: #14213D;
    color: #FCA311;
}
tr:hover {
    background-color: #f5f5f5;
}